<ion-view title="设置">
    <ion-content>
        <!--<ul class="registerList">-->
            <!--<li class="positionR"><span class="fl paddingB5">头像</span>-->
                <!--<i class=" icons ion-ios-arrow-right"></i>-->
            <!--</li>-->
            <!--<li><span class="fl">昵称</span><input type="text" class="fr textAR" placeholder="请您填写用户名"/></li>-->
        <!--</ul>-->
        <button class="loginBtns" ng-click="updatePwd()">修改密码</button>
        <button class="loginBtns" id="yellow" ng-click="loginOut()">注销登录</button>
    </ion-content>
</ion-view>